body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #game-area {
    width: 90vw;
    gap: 20px;
    background: grey;
    margin: 0 auto;
  }

  #containerPai {
  display: flex;
  flex-direction: column;
  }
  
  
  .player-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    height: 200px;
    min-height: 100%;
  }
  
  .play-area {
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    height: 400px;
    min-height: 100%;
  }